header {
    text-align: center;
}

#form {
    padding: 15px;
}

section {
    margin: auto;
    background-color: rgb(224, 152, 152);
    border-radius: 2%;
    width: 500px;
    height: 450px;
}



