body {
    font: Normal 12pt Arial;
    background: #4085D8;
}

header {
    text-align: center;
    color: #ffffff;
}

section {
    width: 500px;
    background: #ffffff;
    margin: auto;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.377);
}

footer {
    text-align: center;
    color: #ffffff;
    font-style: italic;
}