body {
    background-color: #3E83D8;
}

header {
    font: normal 12pt Arial;
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 7px;
    border-radius: 15px;
}

select {
    width: 150px;
}

